system {
    login {
        user lab {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$ZaP/0VRK$SAD8ukVSx3G//sXzXLrh0m27sUT5qGGFAIIqv2dnBAZfNRZJP/DE8NACyzAnom4svQPXMMxzNVzJ64FHc9V450"; ## SECRET-DATA
            }
        }
    }
    host-name {{ host_name }};
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                address {{ management_ip }}/24;
            }
        }
    }
    {%- for item in fabric_links %}
    {{ fabric_links[item]['interface'] }} {
      description "{{ fabric_links[item]['description'] }}";
      unit 0 {
        family inet {
          address {{ fabric_links[item]['address'] }};
        }
      }
    }
    {%- endfor %}
    {%- for item in bms_links %}
    {{ bms_links[item]['interface'] }} {
      description "{{ bms_links[item]['description'] }}";
      unit 0;
    }
    {%- endfor %}
    irb {
        unit 11 {
            family inet {
                address 10.6.11.254/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ route_distinguisher_id }}/32;
            }
        }
    }
}
snmp {
    community public;
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
policy-options {
    policy-statement direct {
        term t1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-options {
    route-distinguisher-id {{ route_distinguisher_id }};
}
protocols {
    bgp {
        group fabric {
            type external;
            family inet {
                unicast;
            }
            export direct;
            local-as {{ bgp.local_as }};
            {%- for item in bgp.neighbors %}
            neighbor {{ bgp.neighbors[item]['ip'] }} {
              peer-as {{ bgp.neighbors[item]['peer_as'] }};
            }
            {%- endfor %}
        }
    }
    lldp {
        interface all;
    }
    igmp-snooping {
        vlan default;
    }
}
vlans {
    default {
        vlan-id 1;
    }
    vlan-11 {
        vlan-id 11;
        l3-interface irb.11;
    }
}
