system {
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$ZaP/0VRK$SAD8ukVSx3G//sXzXLrh0m27sUT5qGGFAIIqv2dnBAZfNRZJP/DE8NACyzAnom4svQPXMMxzNVzJ64FHc9V450"; ## SECRET-DATA
            }
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                address {{ management_ip }}/24;
            }
        }
    }
    {%- for item in fabric_links %}
    {{ fabric_links[item]['interface'] }} {
        description "{{ fabric_links[item]['description'] }}";
        unit 0 {
            family inet {
                address {{ fabric_links[item]['address'] }};
            }
        }
    }
    {%- endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{ route_distinguisher_id }}/32;
            }
        }
    }
}
snmp {
    community public;
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
policy-options {
    policy-statement direct {
        term t1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-options {
    route-distinguisher-id {{ route_distinguisher_id }};
}
protocols {
    bgp {
        group fabric {
            type external;
            family inet {
                unicast;
            }
            export direct;
            local-as 64021;
            neighbor 10.6.30.1 {
                peer-as 64031;
            }
            neighbor 10.6.30.9 {
                peer-as 64032;
            }
            neighbor 10.6.20.2 {
                peer-as 64011;
            }
            neighbor 10.6.20.6 {
                peer-as 64012;
            }
        }
    }
    lldp {
        interface all;
    }
    igmp-snooping {
        vlan default;
    }
}
vlans {
    default {
        vlan-id 1;
    }
}
