system {
    login {
        user lab {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$ZaP/0VRK$SAD8ukVSx3G//sXzXLrh0m27sUT5qGGFAIIqv2dnBAZfNRZJP/DE8NACyzAnom4svQPXMMxzNVzJ64FHc9V450"; ## SECRET-DATA
            }
        }
    }
    host-name {{ host_name }};
    syslog {
        file cli-commands {
            interactive-commands info;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            interface-type xe;
        }
    }
}
interfaces {
  fxp0 {
      unit 0 {
          family inet {
              address {{ management_ip }}/24;
          }
      }
  }
  {%- for item in fabric_links %}
    {{fabric_links[item]['interface']}} {
      description "{{fabric_links[item]['description']}}";
      unit 0 {
        family inet {
          address {{ fabric_links[item]['address'] }};
        }
      }
    }
  {%- endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{ route_distinguisher_id }}/32;
            }
        }
    }
}
snmp {
    community public;
}
policy-options {
    policy-statement direct {
        term t1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-options {
    route-distinguisher-id {{ route_distinguisher_id }};
}
protocols {
    bgp {
        group fabric {
            type external;
            family inet {
                unicast;
            }
            export direct;
            local-as {{ bgp.local_as }};
            {%- for item in bgp.neighbors %}
            neighbor {{ bgp.neighbors[item]['ip'] }} {
              peer-as {{ bgp.neighbors[item]['peer_as'] }};
            }
            {%- endfor %}
        }
    }
    lldp {
        interface all;
    }
}
